/* Load font */
@font-face {
    font-family: 'WIranianSens';
    src: url('../fonts/IranianSansWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'WIranianSerif';
    src: url('../fonts/IranianSerifWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* Fix max width */
@media (min-width: 1200px) {
    .container{
        max-width: 980px;
    }
}

/* General */
body {
    font-family: 'WIranianSens', 'WIranianSerif', Tahoma !important;
    font-size: 13px;
    background-color: #e0e0e0;
    background-image: url(../image/bg.png);
    background-repeat: repeat;
    background-position: center center;
}

a {
    color: #c2185b;
    transition: color 0.8s;
    -webkit-transition: color 0.8s;
    -moz-transition: color 0.8s;
}

a:hover {
    color: #880e4f;
    text-decoration: none;
}

/* Header */
#bluestar-header {
    color: #fff;
    margin-top: 45px;
}

#bluestar-header a {
    color: #fff;
}

#bluestar-header-title {
    background-color: #c2185b;
    padding: 10px;
}

#bluestar-header-title h1 {
    font-size: 1.2em;
    margin: 4px;
}


#bluestar-header-title h1 img {
    margin-top: -52px;
}

#bluestar-header-title .navbar-form {
    margin: 0;
    padding: 0;

}

#bluestar-header-menu .navbar {
    margin-bottom: 0;
}

#bluestar-header-slide {}

#bluestar-header-shopping {

}

#bluestar-header-shopping i {
    font-size: 25px;
}

/* Section */
#bluestar-mainsection {
    background-color: #ffffff;
}

#bluestar-section-center {
    padding-top: 20px;
    padding-bottom: 10px;
}

#bluestar-section-left {
    padding-top: 20px;
    padding-bottom: 10px;
}

#bluestar-section-nemead {
    height: 150px;
    margin-bottom: 10px;
}

#bluestar-mainsection-bottom {
    padding: 15px 0;
}

/* Footer */
#bluestar-footer {
    color: #ccc;
}

#bluestar-footer a {
    color: #ccc;
}

#bluestar-footer-body {
    background-color: #3B3A3A;
    padding: 10px;
}

#bluestar-footer-body h4 {
    color: #7F7F7F;
    font-size: 1.1em;
    font-weight: normal;
}

#bluestar-footer-menu {
    background-color: #333333;
    padding: 10px;
}

#bluestar-footer-menu span {
    color: #f1f1f1;
    padding: 0 15px 0 5px;
}

#bluestar-footer-copyright {
    background-color: #1B1B1B;
    padding: 10px;
}

#bluestar-footer-social ul {
    padding: 0;
    margin: 0;
}

#bluestar-footer-social i {
    font-size: 24px;
}

#bluestar-footer-social a:hover {
    color: #c2185b;
}

/* Search */
#bluestar-search {
    margin-bottom: 15px;
}

/* Center box */
.centerbox {
    background-color: #f8bbd0;
}

.centerbox-icon {
    margin-top: -20px;
    margin-left: -15px;
    float: left;
    z-index: 1000;
}

.centerbox-icon i {
    font-size: 30px;
    color: #c2185b;
}

.centerbox-logo {
    text-align: center;

}

.centerbox-logo img {
    width: 270px;
    height: 155px;
}

.centerbox-title {
    text-align: center;
}

.centerbox-title h2 {
    font-size: 1.4em;
}

.centerbox-text {
    padding: 5px;
}

.centerbox:hover {
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1..05); 
    -o-transform:scale(1..05); 
    transition: -moz-transform 0.8s;
    -webkit-transition: -moz-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    -moz-transition: -webkit-transform 0.8s;
    transition: -o-transform 0.8s;
    -webkit-transition: -o-transform 0.8s;
    -moz-transition: -o-transform 0.8s;
}

/* left box */
.list-group i {
    font-size: 32px;
    text-align: right;
}

.list-group-item:hover {
    background-color: #f8bbd0;
    transition: background-color 0.8s;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
}

.list-group-item:first-child:hover {
    background-color: #fff;
    transition: background-color 0.8s;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
}

/* Bottom box */
#bluestar-box-bottom-1 {
    background-color: #f5f5f5;
}

#bluestar-box-bottom-2 {
    background-color: #e0e0e0;
}

#bluestar-box-bottom-3 {
    background-color: #f5f5f5;
}

#bluestar-box-bottom-4 {
    background-color: #c2185b;
    color: #fff;
}

#bluestar-box-bottom-4 a {
    color: #fff;
}

.bottombox {
    text-align: center;
    padding: 10px 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.bottombox-icon i {
    font-size: 50px;

}

.bottombox-title h3 {
    font-size: 1.4em;
}

.bottombox-text {
    font-size: 1em;
}

.bottombox:hover {
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1..05); 
    -o-transform:scale(1..05); 
    transition: -moz-transform 0.8s;
    -webkit-transition: -moz-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    -moz-transition: -webkit-transform 0.8s;
    transition: -o-transform 0.8s;
    -webkit-transition: -o-transform 0.8s;
    -moz-transition: -o-transform 0.8s;
}


.caption h3 {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

.dropdown-menu {
    color: #fff !important;
    background-color: #c62828;
    text-align: right;
}

.dropdown-menu a {
    color: #fff !important;
}

.dropdown-menu a:hover {
    color: #fff !important;
    background-color: #e53935 !important;
}





















/* 
.portfolio-block-items {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.portfolio-block-items li {
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    position: relative;

}

.portfolio-block-items figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.portfolio-block-items figure img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .portfolio-block-items figure:hover img,
.portfolio-block-items figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.portfolio-block-items .portfolio-block-items-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    background: #515151;
    color: #fff;
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    
}

.portfolio-block-items .portfolio-block-items-title h4 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: .85em;
    text-align: right;
}

.portfolio-block-items .portfolio-block-items-title span:before {
    content: 'by ';
}

.portfolio-block-items .portfolio-block-items-title a {
    text-align: center;
    padding: 2px 5px;
    border-radius: 2px;
    background: #ed4e6e;
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 10px;
    
}

.no-touch .portfolio-block-items figure:hover .portfolio-block-items-title,
.portfolio-block-items figure.cs-hover .portfolio-block-items-title {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.portfolio-block *, .portfolio-block *:after,.portfolio-block *:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; box-sizing: border-box; 
}
*/